.contact-icon {
  width: 45px;
  height: 45px;
  background-color: #198754;   /* green */
  color: #fff;
  border-radius: 50%;         /* makes perfect circle */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
